*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{

    background-color: black;
    padding: 1rem;
    border-radius: 10px;
}

.screen{
    border: 2px;
    height: 2rem;
    margin-bottom: 1rem;
    border-radius: 3px;
}

button{
    width: 20%;
    height: 2rem;
}

.allbutton{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2px;
}

button:active{
    background-color: #333333;
    color: #fff;
}

@media (min-width: 0px) {

    body{
        background-color: darkviolet;
    }
}